body {
	background-color: #999;
	color: white;
}

#test-nav {
	background-color: #222;
}

#introduction {

}

#reading {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.row.no-gutter {
  margin-left: 0;
  margin-right: 0;
}
.row.no-gutter [class*='col-']:not(:first-child),
.row.no-gutter [class*='col-']:not(:last-child) {
  padding-right: 0;
  padding-left: 0;
}
/*.center {
	text-align: center;
}

h2 {
	color: blue;
}

#warning{
	color: brown;
}
div {
	padding: 24px 0 24px 0;
}

.datesBox {
	background-color: #666;

}

.dates {
	text-align: left;
	margin: 0px 60px;
	padding-bottom: 240px;
	width: 100%;
	display: grid;
	grid-template: 240px / 50% 50%;
}*/